/* Chrome, Safari, Edge, Opera, Brave */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}


body {
    margin: 0%;
    background-color: aliceblue;
  

}

.heading {
    border: 2px solid black;
    color: white;
    background-color: black;
}

.imgoutline {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    overflow: hidden;
    background-image: url('bg-image/bg.webp');
    background-repeat: no-repeat;
    
}

img {
    max-width: 100%;
    display: none;

}



